html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(233, 236, 217);
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}

h3 {
  font-style: italic;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 20px;
  text-align: justify;
}

p {
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 18px;
  text-align: justify;
  color: black;
}

header{
  margin: 10px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 35px;
  text-align: center;
}

 img {
  width: auto;
  height: auto;
  float: center;
}

.digital-collage {
  float: top;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 1450px;
  height: 650px;
  background-color: white;
}

div.gallery {
  float: left;
  margin: 10px;
  width: 200px;
  height: auto;
}

div.gallery img {
  width: 200px;
  height: auto;
}

div.desc {
  font-weight: bold;
  font-style: normal;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  background-color: white;
}

div.gallery:hover {
  border: 5px solid black;
}

.videowork {
  float: right;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 650px;
  height: 1400px;
  background-color: white;
}

.left-codelinks {
  float: right;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 660px;
  height: 1200px;
  text-align: justify;
  background-color: white;
}

.left-codelinks a {
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.left-codelinks a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
}
